body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: #f0f2f5;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s;
}

body.dark-mode .container {
    background-color: #444;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

body.dark-mode h1 {
    color: #f0f2f5;
}

.lotto-display {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.lotto-number {
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s;
}

.lotto-number:hover {
    transform: scale(1.1);
}

body.dark-mode .lotto-number {
    background-color: #5cb85c;
}

#generate-btn, #theme-toggle {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

#generate-btn:hover, #theme-toggle:hover {
    background-color: #005f7a;
    transform: translateY(-2px);
}
